[messages control]
disable=too-many-instance-attributes,
        missing-function-docstring,
        missing-module-docstring,
        missing-class-docstring,
        too-few-public-methods,
        too-many-arguments,
        invalid-name,
        no-member,
        fixme,
